Lesson 12/Homework/data/
Lesson 12/Homework/data_cifar10/
Lesson 12/Homework/mnist_checkpoint.pth
Lesson 12/Homework/mnist_checkpoint.pth
Lesson 13/Homework/DataForModel/
Lesson 13/Homework/imagenette_fc.pth
Lesson 17/Homework/Data/
Lesson 17/Homework/detectron2/
.vscode/
Lesson 17/Homework/otus_basketball_dataset/
Lesson 17/Homework/otus_basketball_dataset copy/
Lesson 17/Homework/run/